.header{
    display: flex;
    justify-content: space-between;
}
    form{
        margin-bottom: 0px;
    }
    .header a{
        text-decoration: none;
    }
    .header_menu, .header_usermenu{
        display: flex;
        flex-direction: row;
    }
    .header_menu div, .header_usermenu div{
        padding: 10px;
    }
    .header_menu div:hover, .header_usermenu div:hover{
        background-color: #f8f8f8;
    }
.years{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    .years_chapter{
        border: none;
        font-size: 20px;
        font-weight: bold;
        background-color: #ffffff;
    }
    .years_chapter:hover{
        background-color: #f8f8f8;
        cursor: pointer;
    }
.main_row{
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid black; */
    border-top:1px solid black ;
}
.main_row:hover{
    background-color: #f8f8f8;
}
    .main_row_driver{
        padding: 10px;
        width: 150px;
    }
    .main_row_score{
        padding: 10px;
    }

.forum_block{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    margin: 10px;
}
    .forum_block_inf{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-size: 15px;
        color: #808080;
        border-bottom: 1px solid black;
    }
    .form_block_text{
        display: flex;
        width: 500px;
    }
    .forum_form{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
    }
    .forum_form div{
        height: 22px;
        margin: 16px;
        align-items: center ;
    }