{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css\styles.css'%}">
</head>
<body>
    <div class="header">
        <div class="header_menu">
            <div><a href="{% url 'Site_app:index' %}">Главная страница</a></div>
            <div class="header_menu_forum"><a href="{% url 'Site_app:forum' %}">Форум</a></div>
        </div>  
        <div class="header_usermenu">  
            {% if user.is_authenticated %}
                {% if user.username == 'admin' %}
                    <form method="POST">
                        {% csrf_token %}
                        <div><input type="submit" value="2021" name="tableUpdate2021"/></div>
                    </form>
                    <form method="POST">
                        {% csrf_token %}
                        <div><input type="submit" value="2022" name="tableUpdate2022"/></div>
                    </form>
                    <form method="POST">
                        {% csrf_token %}
                        <div><input type="submit" value="2023" name="tableUpdate2023"/></div>
                    </form>
                {% endif %}
                <div>Hello, {{ user.username }}.</div>
                <div class="header_usermenu_logout"><a href="{% url 'users:logout' %}">log out</a></div>
            {% else %}
                <div class="header_usermenu_register"><a href="{% url 'users:register' %}">Register</a></div>
                <div class="header_usermenu_login"><a href="{% url 'users:login' %}">log in</a></div>
            {% endif %}
        </div>    
    </div>
    {% block content %}{% endblock content %}
</body>