{% extends "Site_app/base.html" %}

{% block content %}
    {% for forum in forums %}
        <div class="forum_block">
            <div class="forum_block_inf">
                <div>{{forum.user_name}}</div>
                <div>{{forum.date_added}}</div>
            </div>
            <div class="forum_block_text">{{ forum.text }}</div> 
        </div>
    {% endfor %}
{% if user.is_authenticated %}
    <form method="post" action="{% url 'Site_app:forum' %}" class="forum_form">
        {% csrf_token %}
        {{ form.as_p }}
        <div><button name="submit">Send</button></div>
    </form> 
{% else %}
    <p>Зарегистрирютесь или войдите в аккаунт, чтобы участвовать в форуме.</p>
{% endif %}    
{% endblock content %}